@import '~@flaticon/flaticon-uicons/css/all/all';

.container {
  height: 40px;
  width: 100px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 203, 50, 1) 0%,
    rgba(244, 56, 98, 1) 100.2%
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.handle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  overflow: hidden;
}
.icon {
  color: #f88748;
}
.container[data-darkmode='dark'] {
  background-color: #52527a;
}

.container[data-darkmode='dark'] {
  background-image: linear-gradient(
    109.8deg,
    rgba(62, 5, 116, 1) -5.2%,
    rgba(41, 14, 151, 1) -5.2%,
    rgba(216, 68, 148, 1) 103.3%
  );
}

.container[data-darkmode='dark'] .icon {
  color: #501a96;
}
