@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/AnyConv.com__Roboto-Regular.woff') format('woff'),
    url('./fonts/AnyConv.com__Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/AnyConv.com__Roboto-Medium.woff') format('woff'),
    url('./fonts/AnyConv.com__Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/AnyConv.com__Roboto-Bold.woff') format('woff'),
    url('./fonts/AnyConv.com__Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
